.fwarn p {
    margin: 0;
}
.fwarn h3 {
    margin-top: 3px;
    margin-bottom: 6px;
}
.fwarn h4 {
    margin-top: 3px;
    margin-bottom: 6px;
}
.fwarn h5 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.fwarn hr {
    margin-top: 3px;
    margin-bottom: 3px;
}
